NUXT_ENV_API=/api
MONGODB_CONNECT_CLOUD=<o endereco do mongodb cloud caso tenha um>
MONGODB_CONNECT_DOCKER=mongodb://mongo:27017/Nitro
MONGODB_CONNECT_LOCAL=mongodb://localhost:27017/Nitro
EMAIL_USER=EMAIL@HOST.COM
EMAIL_PWD=EMAILPASSWORD
EMAIL_HOST=mail.HOST.com
JWT_SECRET=BASH:<gerar através do comando openssl rand -base64 32>
