// @import 'compass';
// @import '../../../src/assets/fonts/bosch/stylesheet.css';

$color-main: #475E4C;
$logo: #dabc92;
$color2: #d40e3f;
$color3: #bac74b;
$color4: #B6B99A;
$color5: #F6F2EF;
$color6: #e2d3c3;
$color7: #E2C8A6;
